* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f5f5f4;
    color: #333;
}

.main-header {
    max-width: 1300px;
    height: 350px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 50px auto 50px auto;
    background-image: url('./images/vegetables.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 6px;
}

.main-heading {
    color: #e7e5e4;
    font-size: 58px;
    margin-bottom: 20px;
}

.main-text {
    color: #e7e5e4;
}

.heading-h2 {
    text-align: center;
    margin-bottom: 20px;
}

.recipes {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-flow: column;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.5s;
}

.card-img {
    max-width: 400px;
    overflow: hidden;
}

.card-img img {
    display: block;
    width: 100%;
    transition: all 0.5s;
}

.card-img img:hover {
    transform: scale(1.1);
}

.card a {
    text-decoration: none;
}

.card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #292524;
    color: #e7e5e4;
}
